body {
	color: #ffffff;
	background-color: black;
	font-family: arial;
}

h1 {
	text-align: center;
	font-family: arial;
	font-weight: 600;
	margin-top: 200px;
	margin-bottom: 20px;
}

h2 {
	margin-left: auto;
    margin-right: auto;
	font-weight: lighter;
	font-size: 15px;
	text-align: justify;
	line-height: 1.25em;
	max-width: 800px;
	
	/*-webkit-column-count: 3; /* Chrome, Safari, Opera */
    /*-moz-column-count: 3; /* Firefox */
    /*column-count: 200px 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    /*-moz-column-gap: 40px; /* Firefox */
    /*column-gap: 40px;

    
}

